* {
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: Tahoma;
	text-align: center;
	padding: 40px;
	margin: 0 auto;
	width: 800px;
}

.title {
	align: center;
	margin-left: 150px;
	font-size: 16px;
	width: 500px;
}
.lightsaber {
	color: white;
	border: 2px solid black;
	box-shadow: 0 0 10px 10px #FF0000;
	border-radius: 30px 25px 60px 12px;
	background-color: rgb(40 40 40);
}

.background {
	width: 800px;
	height: 800px;
	background-color: #404040;
}

.carousel {
	background: #606060;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: center; */
	gap: 1px;
	max-width: 800px;
	max-height: 100px;
	margin: 0 auto;
	border: 2px solid black;
}

.underconstruction {
	border: 2px solid white;
	background-color: red;
	width: 400px;
	height: 100px;
	color: white;
	/* margin-top: 300px; */
	margin: 320px auto;
	transform: rotate(-10.0deg);
	box-shadow: 10px 10px 5px black;
	text-shadow: 4px 4px 4px black;
}

footer {
	padding: 1px;
	font-size: 16px;
	width: 500px;
	color: grey;
}